<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oms_2">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OMS_2">
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bidding" />
        <activity android:name=".StudentLoggedIn" />
        <activity android:name=".StudBiddingForm" />
        <activity android:name=".StudViewCloseBids" />
        <activity android:name=".StudViewOpenBids" />
        <activity android:name=".TutorLoggedIn" />
        <activity android:name=".TutorBidOpen" />
        <activity android:name=".ViewAllTutors" />
        <activity android:name=".BidCloseDown" />
        <activity android:name=".StudentTutorBoth" />
        <activity android:name=".Contract" />
        <activity android:name=".TutorViewOpenBids" />
        <activity android:name=".TutorViewCloseBids" />
        <activity android:name=".TutorOfferForm" />
        <activity android:name=".MessagePrivate" />
        <activity android:name=".PostOpenMessage" />
        <activity android:name=".ViewAllOffers" />
        <activity android:name=".StudentViewOffersOpen" />


        <receiver android:name=".TimeOutBid"
            android:permission="TODO"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="processTimerReceiver" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>